{% extends "base.html" %}

{% block title %}
Disease detail
{% endblock title %}

{% block style %}
<style>
    p { color: black;}
</style>
{% endblock style %}
{% block content %}

<div class="container " style="margin-top: 100px;">
    <h2 style="color: black;">{{ disease.name }}</h2>
    <p style="color: grey; margin-left: 20px;" >{{ disease.description }}</p>
    <hr>
    <h3 style="color: black;">Symptoms</h3>
    <ol>
        {% for s in disease.disease_symptom.all %}
            <li style="color: grey; margin-left: 30px;">{{ s.name.capitalize }}</li>
        {% endfor %}
    </ol>
    <hr>
    <h3 style="color: black;">Prevention</h3>
    <p>{{ disease.prevention | linebreaks }}</p>
</div>
{% endblock %}