
{% extends 'base.html' %}
{% load static %}
{% block title %}
	Health Care
{% endblock title %}

{% block content %}
	<!-- Header -->

	<!-- Menu -->

	<div class="menu">
		<div class="menu_header d-flex flex-row align-items-center justify-content-start">
			<div class="menu_logo"><a href="index.html">HealthCare</a></div>
			<div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
		</div>
		<div class="menu_content">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="menu_social">
			<div class="menu_phone ml-auto">Call us: **********</div>
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="false"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url({% static 'images/healthcare.jpg'%})"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Modern Healthcare</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="home_page_nav">
				<ul class="d-flex flex-column align-items-end justify-content-end">
					<li><a href="#" data-scroll-to="#destinations">Diseases<span>01</span></a></li>
					<li><a href="#" data-scroll-to="#testimonials">Feedbacks<span>02</span></a></li>
					<li><a href="#" data-scroll-to="#news">Latest<span>03</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Search -->

	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Choose the Symptoms</div> 
						<div class="home_search_content">
						{% if messages %}
							{% for msg in messages %}
								<div style="color:red;" >{{msg}}</div>
							{% endfor %}
						{% endif %}
							<form method="POST" action="{% url 'predict:index' %}" class="home_search_form" id="home_search_form">
								{% csrf_token %}
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									 
									<select class="search_input search_input_1" name="symtpom1"   list="symptom1" required="required">
										<option value="none" selected>None</option>
										{% for symptom in symptom_list %}
											<option value="{{symptom.name}}">{{ symptom.name }}</option> 
										{% endfor %}
									</select>
									<select class="search_input search_input_1" name="symtpom2"  list="symptom1" required="required">
										<option value="none" selected>None</option>
										{% for symptom in symptom_list %}
											<option value="{{symptom.name}}">{{ symptom.name }}</option> 
										{% endfor %}
									</select>
									<select class="search_input search_input_1" name="symtpom3"  list="symptom1" required="required">
										<option value="none" selected>None</option>
										{% for symptom in symptom_list %}
											<option value="{{symptom.name}}">{{ symptom.name }}</option> 
										{% endfor %}
									</select>
									<select class="search_input search_input_1" name="symtpom4"   list="symptom1" required="required">
										<option value="none" selected>None</option>
										{% for symptom in symptom_list %}
											<option value="{{symptom.name}}">{{ symptom.name }}</option> 
										{% endfor %}
									</select>
 
									
									<button type="submit" class="home_search_button">Predict</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_container">
						<div class="row">

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/beach.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Best Results</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/wallet.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Free of Cost</div>
										<div class="intro_subtitle"><p>Sollicitudin mauris lobortis in.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/suitcase.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Amazing Services</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Destinations -->

	<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing tech</div>
					<div class="section_title"><h2>Possible Disease</h2></div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid"> 

						{% for disease in predicted_disease_description %} 

							<div class="destination item">
								<div class="destination_image">
									<img src="{% static 'images/health.jpg' %}" alt="">
									{% if forloop.counter == 1%}
										<div class="spec_offer text-center"><a href="#">Max Possibility</a></div>
									{% endif %}
								</div>
								<div class="destination_content">
									<div class="destination_title"><a href="fruits.html">{{ disease.name|truncatechars:25 }} </a></div>
									<div class="destination_subtitle"><p>{{ disease.description|truncatechars:100 }}</p></div>
									<div class="destination_price">{{ disease.percentage }}% </div>
								</div>
							</div> 
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials" id="testimonials" style="background: black; opacity: 0.6;">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/health3.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing service</div>
					<div class="clear"></div>
					<div class="section_title"><h2>Testimonials</h2></div>
				</div>
			</div>
			<div class="row testimonials_row">
				<div class="col">

					<!-- Testimonials Slider -->
					<div class="testimonials_slider_container">
						<div class="owl-carousel owl-theme testimonials_slider">

							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div >john doe,</div>
										<div>client</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div>john turner,</div>
										<div>client</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div>john turner,</div>
										<div>client</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="test_nav">
			<ul class="d-flex flex-column align-items-end justify-content-end">
				<li><a href="#">City Breaks Clients<span>01</span></a></li>
				<li><a href="#">Patients<span>02</span></a></li>
				<li><a href="#">All Inclusive Patients<span>03</span></a></li>
			</ul>
		</div>
	</div>

	<!-- News -->

	<div class="news" id="news">
		<div class="container">
			<div class="row">
				<div class="col-xl-8">
					<div class="news_container">

						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image" style="margin-top: -42px;"><img src="{% static 'images/health2.gif' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>02</div>
									<div>june</div>
								</div>
								<div class="news_post_title"><a href="#">Health Tips</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Health</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.</p>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image" style="margin-top: -42px;"><img src="{% static 'images/health1.gif' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>01</div>
									<div>june</div>
								</div>
								<div class="news_post_title"><a href="#">Health Tips</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Health</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Tempor massa et laoreet malesuada. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image" style="margin-top: -42px;"><img src="{% static 'images/health3.gif' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>29</div>
									<div>may</div>
								</div>
								<div class="news_post_title"><a href="#">Health Tips</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Health</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Vivamus massa.Tempor massa et laoreet malesuada. Aliquam nulla nisl, accumsan sit amet mattis.</p>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- News Sidebar -->
				<div class="col-xl-4">
					<div class="travello">
						<div class="background_image" style="background-image:url({% static 'images/medic.png' %})"></div>
						<div class="travello_content">
							<div class="travello_content_inner">
								<div></div>
								<div></div>
							</div>
						</div>
						<div class="travello_container">
							<a href="#">
								<div class="d-flex flex-column align-items-center justify-content-end">
									<span class="travello_title">HealthCare</span>
									<span class="travello_subtitle">Get Healthcare Tips Online Now</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
{% endblock %}